[submodule "zeze-app/zeze-external-api/src/main/resources/config"]
	path = zeze-app/zeze-external-api/src/main/resources/config
	url = https://github.com/minguinho/zeze-secret
[submodule "zeze-app/zeze-external-api/src/main/resources/logback"]
	path = zeze-app/zeze-external-api/src/main/resources/logback
	url = https://github.com/minguinho/zeze-logback
